---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<hr>
<h2>Production & Yield</h2>
{% assign yield_projects = site.portfolio | where: "category", "yield" %}
{% for post in yield_projects %}
  {% include archive-single.html %}
{% endfor %}
<hr>
<h2>Process Development</h2>
{% assign process_projects = site.portfolio | where: "category", "development" %}
{% for post in process_projects %}
  {% include archive-single.html %}
{% endfor %}
<hr>
<h2>Automation</h2>
{% assign automation_projects = site.portfolio | where: "category", "automation" %}
{% for post in automation_projects %}
  {% include archive-single.html %}
{% endfor %}
