---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<hr>

<h1>Production & Yield</h1>
{% assign yield_projects = site.portfolio | where: "category", "yield" %}
{% for post in yield_projects %}
  {% include archive-single.html %}
{% endfor %}

---

<h1>Process Development</h1>
{% assign process_projects = site.portfolio | where: "category", "development" %}
{% for post in process_projects %}
  {% include archive-single.html %}
{% endfor %}

---

<h1>Automation</h1>
{% assign automation_projects = site.portfolio | where: "category", "automation" %}
{% for post in automation_projects %}
  {% include archive-single.html %}
{% endfor %}
