---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
Click on each project to view details.<br><br>
<em>All data, figures, and parameters have been modified to remove proprietary and confidential information.</em>
<hr>
<h1>[Yield]</h1>
{% assign yield_projects = site.portfolio | where: "category", "yield" %}
{% for post in yield_projects %}
  {% include archive-single.html %}
{% endfor %}
<hr>
<h1>Process Development</h1>
{% assign process_projects = site.portfolio | where: "category", "development" %}
{% for post in process_projects %}
  {% include archive-single.html %}
{% endfor %}
<hr>
<h1>Automation</h1>
{% assign automation_projects = site.portfolio | where: "category", "automation" %}
{% for post in automation_projects %}
  {% include archive-single.html %}
{% endfor %}
